### In a terminal
**Type:**   
 - mongo  
 - show dbs  
 
**To create a db:**    
 - use databaseName
 
**To create a collection:**
 - db.createCollection('collectionName')

In [2]:
import numpy as np
import pandas as pd
from pymongo import MongoClient

In [14]:
data = pd.read_csv('scrap_post_pre_process.csv')
data.head(2)

,Entreprise,Offre,URL,Ville,Departement,Resume
0,skill and you,chargé(e)s de gestion locative en alternance,https://www.indeed.fr/jobs?q=alternance%20data...,paris,75,"['chargé(e)s', 'alternance']"
1,novencia,développeur.se web – stage/alternance (f/h),https://www.indeed.fr/jobs?q=alternance%20data...,paris,75,['stage/alternance']

In [6]:
client = MongoClient('mongodb://localhost:27017/')

In [22]:
client.list_database_names()

['admin',
 'config',
 'job_project',
 'lab-authentification-with-passport',
 'local',
 'tabbataproject']

In [23]:
db = client['jobs_project']

In [24]:
db.list_collection_names()

[]

In [25]:
jobs_indeed = db['jobs_indeed']

In [26]:
jobs_indeed.count_documents({})

0