### In a terminal
**Type:**   
 - mongo  
 - show dbs  
 
**To create a db:**    
 - use databaseName
 
**To create a collection:**
 - db.createCollection(collectionName)

In [3]:
import numpy as np
import pandas as pd

In [10]:
data = pd.read_csv('scrap_indeed_fourteen_days.csv')
data

,Entreprise,Offre,Lieu,URL
0,SKILL AND YOU,Chargé(e)s de gestion locative en Alternance,- Paris 8e (75),https://www.indeed.fr/jobs?q=Alternance%20data...
1,Novencia,Développeur.se Web – Stage/Alternance (F/H),- Paris (75),https://www.indeed.fr/jobs?q=Alternance%20data...
2,SPEAKING AGENCY,Data Analyst H/F,- Paris 12e (75),https://www.indeed.fr/jobs?q=Alternance%20data...
3,GROUPE GIFT,ALTERNANCE – Chargé de la relation client H/F,- Paris (75),https://www.indeed.fr/jobs?q=Alternance%20data...
4,Chance,DATA ANALYST (M/F/D) - ALTERNANCE,- Paris (75),https://www.indeed.fr/jobs?q=Alternance%20data...
...,...,...,...,...
515,NaN,NaN,NaN,https://www.indeed.fr/jobs?q=Alternance%20data...
516,OCTOPUS COMPUTER ASSOCIATES,IoT & Big Data Technical Specialist Engineer P...,- Paris (75),https://www.indeed.fr/jobs?q=Alternance%20data...
517,"Julien Cornic, infographiste freelance",Big Data Engineer / Freelance,- Paris (75),https://www.indeed.fr/jobs?q=Alternance%20data...
518,Highline Paris,Architecte chargé de projet pour un grand ense...,- Paris (75),https://www.indeed.fr/jobs?q=Alternance%20data...
519,Synergie,Chargé de projet d'affaires en industrie F/H,- Vélizy-Villacoublay (78),https://www.indeed.fr/jobs?q=Alternance%20data...

In [13]:
data['Offre'][36]

'UN ALTERNANT – CHARGE GESTION DE PROJETS DATA (H/F)'

In [16]:
from pymongo import MongoClient

In [17]:
client = MongoClient('mongodb://localhost:27017/')

In [30]:
client.list_database_names()

['admin',
 'config',
 'demo',
 'lab-authentification-with-passport',
 'local',
 'tabbataproject']

In [32]:
db = client['demo']

In [33]:
db.list_collection_names()

['jobs_indeed']

In [34]:
jobs_indeed = db['jobs_indeed']

In [35]:
jobs_indeed.count_documents({})

520